In [10]:
# Import necessary libraries
import pandas as pd
from IPython.display import display, clear_output

In [29]:
# Set paths to cleaned data files
fraud_data_path = "C:/Users/hayyu.ragea/AppData/Local/Programs/Python/Python312/fraud_detection_project/data/processed/fraud_cleaned.csv"
merged_data_path = "C:/Users/hayyu.ragea/AppData/Local/Programs/Python/Python312/fraud_detection_project/data/processed/fraud_with_country.csv"

In [23]:
# Load the datasets
print("Loading datasets...")
fraud_df = pd.read_csv(fraud_data_path)
merged_df = pd.read_csv(merged_data_path)
print("Datasets loaded successfully!")

# Display the loaded datasets
print("Displaying the first few rows of the fraud dataset:")
display(fraud_df)  # Show the entire fraud DataFrame

print("\nDisplaying the first few rows of the merged dataset:")
display(merged_df)  # Show the entire merged DataFrame

Loading datasets...
Datasets loaded successfully!
Displaying the first few rows of the fraud dataset:

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class,purchase_duration
0,22058,2015-02-24 22:55:49,2015-04-18 02:47:11,34.0,QVPSPJUOCKZAR,SEO,Chrome,M,39,7.327584e+08,0,4506682.0
1,333320,2015-06-07 20:39:50,2015-06-08 01:38:54,16.0,EOGFQPIZPYXFZ,Ads,Chrome,F,53,3.503114e+08,0,17944.0
2,1359,2015-01-01 18:52:44,2015-01-01 18:52:45,15.0,YSSKYOSJHPPLJ,SEO,Opera,M,53,2.621474e+09,1,1.0
3,150084,2015-04-28 21:13:25,2015-05-04 13:54:50,44.0,ATGTXKYKUDUQN,SEO,Safari,M,41,3.840542e+09,0,492085.0
4,221365,2015-07-21 07:09:52,2015-09-09 18:40:53,39.0,NAUITBZFJKHWW,Ads,Safari,M,45,4.155831e+08,0,4361461.0
...,...,...,...,...,...,...,...,...,...,...,...,...
151107,345170,2015-01-27 03:03:34,2015-03-29 00:30:47,43.0,XPSKTWGPWINLR,SEO,Chrome,M,28,3.451155e+09,1,5261233.0
151108,274471,2015-05-15 17:43:29,2015-05-26 12:24:39,35.0,LYSFABUCPCGBA,SEO,Safari,M,32,2.439047e+09,0,931270.0
151109,368416,2015-03-03 23:07:31,2015-05-20 07:07:47,40.0,MEQHCSJUBRBFE,SEO,IE,F,26,2.748471e+09,0,6681616.0
151110,207709,2015-07-09 20:06:07,2015-09-07 09:34:46,46.0,CMCXFGRHYSTVJ,SEO,Chrome,M,37,3.601175e+09,0,5146119.0
151111,138208,2015-06-10 07:02:20,2015-07-21 02:03:53,20.0,ZINIADFCLHYPG,Direct,IE,M,38,4.103825e+09,0,3524493.0

Displaying the first few rows of the merged dataset:

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class,purchase_duration,lower_bound_ip_address,upper_bound_ip_address,country
0,99475,2015-01-15 22:52:56,2015-03-21 05:26:58,55.0,KKQVQFEISXTQI,Ads,IE,M,25,3436291840,0,5553242.0,3.436292e+09,3.436292e+09,Canada
1,39268,2015-05-09 17:42:56,2015-06-04 05:13:18,36.0,LVTPXQBECONJX,SEO,IE,F,27,3256946176,0,2201422.0,3.256946e+09,3.256946e+09,Romania
2,92325,2015-01-16 19:47:30,2015-05-03 17:19:26,27.0,IYIBXBGTIDAUY,Direct,Chrome,M,30,3495475200,0,9235916.0,3.495475e+09,3.495477e+09,Canada
3,390559,2015-07-09 06:36:13,2015-09-22 04:07:00,51.0,SKNQFVNNGMSXY,Ads,Safari,M,24,1613234176,0,6471047.0,1.613234e+09,1.613365e+09,United States
4,383733,2015-04-09 12:13:47,2015-07-22 23:48:13,42.0,PFHACSCWDLWUA,SEO,Chrome,F,45,3469070080,0,9027266.0,3.469070e+09,3.469070e+09,United States
5,13614,2015-03-29 02:20:38,2015-04-22 14:39:51,24.0,KDUAFKYHHTXXM,Direct,IE,F,18,3342560256,0,2117953.0,3.342560e+09,3.342561e+09,United States
6,112145,2015-06-11 06:32:08,2015-09-12 00:14:40,60.0,ELGLONSOXGUFE,Ads,Chrome,F,40,1729472512,0,8012552.0,1.729473e+09,1.729474e+09,Philippines
7,34805,2015-08-03 22:17:24,2015-10-27 13:56:57,19.0,JOLAPJZFYHWRB,Ads,IE,F,35,1648361472,0,7313973.0,1.648361e+09,1.650459e+09,United States
8,385983,2015-06-09 13:11:01,2015-08-01 11:13:26,22.0,AJQVCUQHKFLRH,SEO,Safari,M,36,3345295360,0,4572145.0,3.345295e+09,3.345296e+09,United States

In [24]:
# Convert 'purchase_time' and 'signup_time' to datetime
print("Converting purchase_time and signup_time to datetime...")
fraud_df['purchase_time'] = pd.to_datetime(fraud_df['purchase_time'])
fraud_df['signup_time'] = pd.to_datetime(fraud_df['signup_time'])
print("Conversion completed!")

# Display the updated fraud dataset with converted datetime columns
print("Displaying the updated fraud dataset with datetime columns:")
display(fraud_df)  # Show the updated fraud DataFrame

Converting purchase_time and signup_time to datetime...
Conversion completed!
Displaying the updated fraud dataset with datetime columns:

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class,purchase_duration
0,22058,2015-02-24 22:55:49,2015-04-18 02:47:11,34.0,QVPSPJUOCKZAR,SEO,Chrome,M,39,7.327584e+08,0,4506682.0
1,333320,2015-06-07 20:39:50,2015-06-08 01:38:54,16.0,EOGFQPIZPYXFZ,Ads,Chrome,F,53,3.503114e+08,0,17944.0
2,1359,2015-01-01 18:52:44,2015-01-01 18:52:45,15.0,YSSKYOSJHPPLJ,SEO,Opera,M,53,2.621474e+09,1,1.0
3,150084,2015-04-28 21:13:25,2015-05-04 13:54:50,44.0,ATGTXKYKUDUQN,SEO,Safari,M,41,3.840542e+09,0,492085.0
4,221365,2015-07-21 07:09:52,2015-09-09 18:40:53,39.0,NAUITBZFJKHWW,Ads,Safari,M,45,4.155831e+08,0,4361461.0
...,...,...,...,...,...,...,...,...,...,...,...,...
151107,345170,2015-01-27 03:03:34,2015-03-29 00:30:47,43.0,XPSKTWGPWINLR,SEO,Chrome,M,28,3.451155e+09,1,5261233.0
151108,274471,2015-05-15 17:43:29,2015-05-26 12:24:39,35.0,LYSFABUCPCGBA,SEO,Safari,M,32,2.439047e+09,0,931270.0
151109,368416,2015-03-03 23:07:31,2015-05-20 07:07:47,40.0,MEQHCSJUBRBFE,SEO,IE,F,26,2.748471e+09,0,6681616.0
151110,207709,2015-07-09 20:06:07,2015-09-07 09:34:46,46.0,CMCXFGRHYSTVJ,SEO,Chrome,M,37,3.601175e+09,0,5146119.0
151111,138208,2015-06-10 07:02:20,2015-07-21 02:03:53,20.0,ZINIADFCLHYPG,Direct,IE,M,38,4.103825e+09,0,3524493.0

In [14]:
# Feature Engineering
display("Starting feature engineering...")

'Starting feature engineering...'

In [26]:
# 1. Transaction Frequency: Number of transactions per user
print("Calculating transaction frequency...")
fraud_df['transaction_count'] = fraud_df.groupby('user_id')['user_id'].transform('count')
print("Transaction frequency calculated.")

# Display the updated fraud dataset with the new 'transaction_count' column
print("Displaying the updated fraud dataset with transaction frequency:")
display(fraud_df)  # Show the updated fraud DataFrame

Calculating transaction frequency...
Transaction frequency calculated.
Displaying the updated fraud dataset with transaction frequency:

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class,purchase_duration,transaction_count
0,22058,2015-02-24 22:55:49,2015-04-18 02:47:11,34.0,QVPSPJUOCKZAR,SEO,Chrome,M,39,7.327584e+08,0,4506682.0,1
1,333320,2015-06-07 20:39:50,2015-06-08 01:38:54,16.0,EOGFQPIZPYXFZ,Ads,Chrome,F,53,3.503114e+08,0,17944.0,1
2,1359,2015-01-01 18:52:44,2015-01-01 18:52:45,15.0,YSSKYOSJHPPLJ,SEO,Opera,M,53,2.621474e+09,1,1.0,1
3,150084,2015-04-28 21:13:25,2015-05-04 13:54:50,44.0,ATGTXKYKUDUQN,SEO,Safari,M,41,3.840542e+09,0,492085.0,1
4,221365,2015-07-21 07:09:52,2015-09-09 18:40:53,39.0,NAUITBZFJKHWW,Ads,Safari,M,45,4.155831e+08,0,4361461.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
151107,345170,2015-01-27 03:03:34,2015-03-29 00:30:47,43.0,XPSKTWGPWINLR,SEO,Chrome,M,28,3.451155e+09,1,5261233.0,1
151108,274471,2015-05-15 17:43:29,2015-05-26 12:24:39,35.0,LYSFABUCPCGBA,SEO,Safari,M,32,2.439047e+09,0,931270.0,1
151109,368416,2015-03-03 23:07:31,2015-05-20 07:07:47,40.0,MEQHCSJUBRBFE,SEO,IE,F,26,2.748471e+09,0,6681616.0,1
151110,207709,2015-07-09 20:06:07,2015-09-07 09:34:46,46.0,CMCXFGRHYSTVJ,SEO,Chrome,M,37,3.601175e+09,0,5146119.0,1
151111,138208,2015-06-10 07:02:20,2015-07-21 02:03:53,20.0,ZINIADFCLHYPG,Direct,IE,M,38,4.103825e+09,0,3524493.0,1

In [27]:
# 2. Transaction Velocity: Average time between transactions for each user
print("Calculating transaction velocity...")

# Sort the DataFrame by 'user_id' and 'purchase_time'
fraud_df = fraud_df.sort_values(by=['user_id', 'purchase_time'])

# Calculate the time difference between consecutive transactions for each user
fraud_df['time_diff'] = fraud_df.groupby('user_id')['purchase_time'].diff().dt.total_seconds()

# Calculate transaction velocity
fraud_df['transaction_velocity'] = fraud_df['time_diff'].fillna(0)

print("Transaction velocity calculated.")

# Display the updated fraud dataset with the new 'transaction_velocity' column
print("Displaying the updated fraud dataset with transaction velocity:")
display(fraud_df)  # Show the updated fraud DataFrame

Calculating transaction velocity...
Transaction velocity calculated.
Displaying the updated fraud dataset with transaction velocity:

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class,purchase_duration,transaction_count,time_diff,transaction_velocity
116708,2,2015-01-11 03:47:13,2015-02-21 10:03:37,54.0,FGBQNDNBETFJJ,SEO,Chrome,F,25,8.802175e+08,0,3564984.0,1,NaN,0.0
15108,4,2015-06-02 16:40:57,2015-09-26 21:32:16,41.0,MKFUIVOHLJBYN,Direct,Safari,F,38,2.785906e+09,0,10039879.0,1,NaN,0.0
46047,8,2015-05-28 07:53:06,2015-08-13 11:53:07,47.0,SCQGQALXBUQZJ,SEO,Chrome,M,25,3.560567e+08,0,6667201.0,1,NaN,0.0
67650,9,2015-05-16 15:58:32,2015-05-20 23:06:42,62.0,IEZOHXPZBIRTE,SEO,FireFox,M,21,7.591047e+08,0,371290.0,1,NaN,0.0
109067,12,2015-01-10 06:25:12,2015-03-04 20:56:37,35.0,MSNWCFEHKTIOY,Ads,Safari,M,19,2.985180e+09,0,4631485.0,1,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143144,399992,2015-06-04 17:43:28,2015-09-30 07:19:17,82.0,CNVFEDSCAWXGS,Direct,Safari,M,59,1.549469e+09,0,10157749.0,1,NaN,0.0
103577,399993,2015-07-30 03:41:08,2015-10-01 07:16:25,20.0,XJMTBAKOHKTGR,Direct,IE,F,37,2.755338e+09,0,5456117.0,1,NaN,0.0
6412,399995,2015-03-10 05:19:31,2015-06-05 23:36:56,33.0,RYXNXTOXIYRQG,Direct,FireFox,F,35,3.701447e+09,0,7582645.0,1,NaN,0.0
139579,399997,2015-06-30 09:02:16,2015-10-07 20:56:54,66.0,XFNGDCCMMBTCB,Direct,Chrome,M,48,3.454704e+09,0,8596478.0,1,NaN,0.0
109602,400000,2015-03-16 23:03:56,2015-04-20 06:27:52,58.0,ACINFPOJYYUAW,Ads,Chrome,M,25,1.217911e+09,1,2964236.0,1,NaN,0.0

In [30]:
## 3. Time-Based Features
### i. Hour of Day
display("Extracting hour of day...")
fraud_df['hour_of_day'] = fraud_df['purchase_time'].dt.hour

# Display the first few rows of the DataFrame to verify the new feature
display(fraud_df[['purchase_time', 'hour_of_day']].head())

'Extracting hour of day...'

             purchase_time  hour_of_day
116708 2015-02-21 10:03:37           10
15108  2015-09-26 21:32:16           21
46047  2015-08-13 11:53:07           11
67650  2015-05-20 23:06:42           23
109067 2015-03-04 20:56:37           20

In [31]:
### ii. Day of Week (Monday=0, Sunday=6)
display("Extracting day of week...")
fraud_df['day_of_week'] = fraud_df['purchase_time'].dt.dayofweek

# Display the first few rows of the DataFrame to verify the new feature
display(fraud_df[['purchase_time', 'day_of_week']].head())

'Extracting day of week...'

             purchase_time  day_of_week
116708 2015-02-21 10:03:37            5
15108  2015-09-26 21:32:16            5
46047  2015-08-13 11:53:07            3
67650  2015-05-20 23:06:42            2
109067 2015-03-04 20:56:37            2

In [28]:
# Save the updated dataset with new features
feature_engineered_output_path = "C:/Users/hayyu.ragea/AppData/Local/Programs/Python/Python312/fraud_detection_project/data/processed/fraud_with_features.csv"
fraud_df.to_csv(feature_engineered_output_path, index=False)

# Display confirmation of the saved dataset
print(f"Feature engineered dataset saved to: {feature_engineered_output_path}")

# Optional: Display the first few rows of the saved DataFrame for verification
print("Displaying the first few rows of the updated fraud dataset:")
display(fraud_df.head())  # Show the first few rows of the updated fraud DataFrame

Feature engineered dataset saved to: C:/Users/hayyu.ragea/AppData/Local/Programs/Python/Python312/fraud_detection_project/data/processed/fraud_with_features.csv
Displaying the first few rows of the updated fraud dataset:

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class,purchase_duration,transaction_count,time_diff,transaction_velocity
116708,2,2015-01-11 03:47:13,2015-02-21 10:03:37,54.0,FGBQNDNBETFJJ,SEO,Chrome,F,25,8.802175e+08,0,3564984.0,1,NaN,0.0
15108,4,2015-06-02 16:40:57,2015-09-26 21:32:16,41.0,MKFUIVOHLJBYN,Direct,Safari,F,38,2.785906e+09,0,10039879.0,1,NaN,0.0
46047,8,2015-05-28 07:53:06,2015-08-13 11:53:07,47.0,SCQGQALXBUQZJ,SEO,Chrome,M,25,3.560567e+08,0,6667201.0,1,NaN,0.0
67650,9,2015-05-16 15:58:32,2015-05-20 23:06:42,62.0,IEZOHXPZBIRTE,SEO,FireFox,M,21,7.591047e+08,0,371290.0,1,NaN,0.0
109067,12,2015-01-10 06:25:12,2015-03-04 20:56:37,35.0,MSNWCFEHKTIOY,Ads,Safari,M,19,2.985180e+09,0,4631485.0,1,NaN,0.0